[user]
	name = alokillgtv03
	email = alokillgtv03@gmail.com
[alias]
	push-open = !git push && am start -a android.intent.action.VIEW -d \"https://google.comc\"
	t = !source ~/.profile && git add . && git commit -m \"update [skip ci]\" && git push
